* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$media-x-sml: 480px;
$media-sml: 576px;
$media-med: 768px;
$media-lrg: 992px;
$media-lrg-xl: 1200px;

$red:  #da291c;
$dark-red: #c01a1e;
$black:  #000000;
$dark-grey:#313133;
$grey: #575759;
$light-grey: #979797;
$lightest-grey: #f9f9fb;


