.header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  position: relative;
  @media (min-width: $media-sml) {
    border-radius: 0;
    box-shadow: none;
  }
  display: flex;
  justify-content: flex-start;
  //   box-shadow: 0 3px 26px 3px rgba(0, 0, 0, 0.3);

  height: 82px;
}


.header__btm-fade {
  position: absolute;
  bottom: -25px;
  height: 25px;
  width: 100%;
  background: rgb(27, 33, 42);
  background: linear-gradient(180deg, rgba(27, 33, 42, 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 999;
}

.header-nav {
  max-width: 1000px;

  width: 100%;
  //   margin: 20px auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media (min-width: $media-med) {
    flex-direction: row;
    width: calc(100% - 50px);
    justify-content: space-between;
    margin: 10px auto;
  }
}

.header-nav__team-name {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  //   display: none;
  font-size: 14px;
  @media (min-width: $media-med) {
    display: flex;
    width: 28%;
  }
}

.header-nav__logo {
  width: 78px;
  min-height: 22px;
  margin-bottom: 10px;
  @media (min-width: $media-sml) {
    width: 28%;
  }
  img {
    object-fit: contain;
  }
}

.header-nav__restart-button {
  width: 28%;
  margin: 0 !important;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  img {
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
  }
}
