.header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;

  @media (min-width: $media-sml) {
    border-radius: 0;
    box-shadow: none;
  }
  display: flex;
  justify-content: flex-start;


  height: 82px;
}


.header__btm-fade {
  position: absolute;
  bottom: -25px;
  height: 25px;
  width: 100%;
  background: rgb(27, 33, 42);
  background: linear-gradient(180deg, rgba(27, 33, 42, 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 999;
}

.header-nav {
  max-width: 1000px;

  width: 100%;
  //   margin: 20px auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media (min-width: $media-med) {
    flex-direction: row;
    width: calc(100% - 50px);
    justify-content: space-between;
    margin: 10px auto;
  }
}

.header-nav__team-name {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  //   display: none;
  font-size: 14px;
  @media (min-width: $media-med) {
    display: flex;
    width: 28%;
  }
}

.header-nav__logo {
  width: 78px;
  min-height: 22px;
  margin-bottom: 10px;
  @media (min-width: $media-sml) {
    width: 28%;
  }
  img {
    object-fit: contain;
  }
}

.header-nav__restart-button {
  width: 28%;
  margin: 0 !important;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  img {
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
  }
}

.header-nav__download-button {
  position: absolute;
  right: 18px;
  top: 13px;
  width: 40px;
  height: 28px;
  background: #c01a1e;
  border-radius: 14px;

  .header-nav__download-image-hover {
    display: none;
  }

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
  }

  &:hover {
    background: #ffffff;

    .header-nav__download-image {
      display: none;
    }
    .header-nav__download-image-hover {
      display: block;
    }
  }
}

.mobile {
  .header-nav__download-button {
    right: 11px;
    top: 11px;
  }
}


// Header.vue --- Header.vue --- Header.vue ---
// remove vertical linear fade
.header__btm-fade {
    display: none;
}

.header {
    width: 100%;
    background: none !important;
    justify-content: flex-end;
    border-radius: unset;
}

// Inital state of the header
.header-closed {
    .header-nav {
        display: none;
    }
    height: 110px;
    margin: 10px 0;
}

//When the header is open fully - full chat box
.header-open {
    background-color: #1b212a !important;
    .header-cta {
        display: none;
    }
}

.header-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
    height: 90px;
    width: 90px;
    border-radius: 45px;
    background-color: #da291c;
    transition: width 0.45s;
    margin: 0 10px 0 0;
    box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.3);
}

.header-cta-expand {
    .header-cta__text {
        display: block;
    }

    width: 285px;
    height: 70px;

    margin: 0 auto;
    justify-content: flex-start;
    padding: 0 35px;

    @media (min-width: 450px) {
        width: 370px;
        padding: 0 35px;
        height: 90px;
    }
}

.header-cta__icon {
    min-height: 50px;
    min-width: 50px;
}

.header-cta__text {
    margin-left: 20px;
    display: none;
    overflow: hidden;
    white-space: nowrap;

    span {
        font-size: 20px;
        display: block;
        font-weight: 500;
        line-height: 1.5;
        color: #ffffff;
    }
}
