/* Hide scrollbar for Chrome, Safari and Opera */
.message-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.message-list {
  -ms-overflow-style: none;
  &.fadeUp-enter-active {
    animation-duration: 0.5s;
  }

}

.message-list {
  flex: 1;
  overflow-y: auto;
  padding: 20px 0 0 ;

  @media (min-width: $media-med){
    padding: 40px 0 0 ;
  }
}
