.user-input {
  position: relative;
  width: 100%;

}

.user-input__form {
  min-height: 55px;
  position: relative;
  display: flex;
  background-color: #f4f7f9;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.user-input__form.active {
  box-shadow: none;
  background-color: white;
  box-shadow: 0px -5px 20px 0px rgba(150, 165, 190, 0.2);
}

.user-input__form.disabled {
  pointer-events: none;
  background: #a9a9a9 !important;
}

// Form text --- Form text --- Form text ---

.user-input__form-text-input {
  resize: none;
  border: none;
  outline: none;
  padding: 18px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.33;

  color: #565867;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex: 1;


}

.user-input__form-text-input:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  filter: contrast(15%);
  outline: none;
  cursor: text;
}

// Form Buttons --- Form Buttons --- Form Buttons ---


.user-input__buttons {
  width: 50px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;

}

.user-input__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
  height: 100%;
  width: 100%;


}

// restyle the button - remove default styles
.send-btn {
  border: none;
  height: 70%;
  width: 70%;

  &:active,
  &:focus {
    outline: none;
    border: none;
  }
}

.send-btn {
  --send-btn-bg: #00f;
  --send-btn-hover-bg: darken(#00f, 10);

  width: auto;
  height: 50px;
  padding: 2px 20px;
  background-color: var(--send-btn-bg);
  border-radius: 34.5px;
  transition: 0.4s;
  font-size: 18px;
  color: white;

  &:hover {
    background-color: var(--send-btn-hover-bg);
  }
}

.user-input__form {
  flex-direction: column;
  padding: 20px;
}

.user-input__form-text-input {
  display: inline-block;
  width: 100%;
  caret-color: currentColor;
  font-family: Gotham;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;

  padding: 0;
  margin: 0;
  margin-bottom: 15px;

  height: 100%;
}

.user-input__buttons {
  width: 100%;
  margin: 0;

  display: flex;
  justify-content: space-between;
}

.user-input__button {
  //   align-items: flex-start;
  border: 1px solid blue;
}

.end-chat-btn,
.end-chat-btn:hover,
.end-chat-btn:focus {
  border: none;
  outline: none;
  background: none;
  text-decoration: underline;
}

@keyframes confirmCloseChatAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.confirmCloseChat {
  opacity: 0;
  text-align: right;
}

.confirmCloseChatButtons {
  display: inline-block;
}

.confirmCloseChatAnimate {
  animation: confirmCloseChatAnim 0.6s forwards;
}


// close-chat --- close-chat --- close-chat ---
// close-chat --- close-chat --- close-chat ---
// close-chat --- close-chat --- close-chat ---

.close-chat {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  margin-bottom: 10px;
}

@keyframes close-chat-spin {
  from {
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }
  to {
    transform: rotate(180deg) scale(1);
    opacity: 1;
  }
}
@keyframes reverse-close-chat-spin {
  from {
    transform: rotate(180deg) scale(1);
    opacity: 1;
  }
  to {
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }
}

.close-chat__button {
  position: relative;
  z-index: 1;
  width: 70px;
  height: 70px;
  background-color: #313133;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: #000000;
  }
}

.closeChatButtonAnimate {
  animation: close-chat-spin 0.5s forwards;
}
.closeChatButtonReverseAnimate {
  animation: reverse-close-chat-spin 0.5s forwards;
}

.close-chat__img {
  width: 31px;
  height: 30px;
  object-fit: contain;
  transition: transform 0.5s;
  // background-color: #ffffff;
}
