.user-input {
  position: relative;
  width: 100%;

}

.user-input__form {
  min-height: 55px;
  position: relative;
  display: flex;
  background-color: #f4f7f9;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;

}

.user-input__form.active {
  box-shadow: none;
  background-color: white;
  box-shadow: 0px -5px 20px 0px rgba(150, 165, 190, 0.2);
}

.user-input__form.disabled {
  pointer-events: none;
  background: #a9a9a9 !important;
}

// Form text --- Form text --- Form text ---

.user-input__form-text-input {
  resize: none;
  border: none;
  outline: none;
  padding: 18px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.33;

  color: #565867;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex: 1;


}

.user-input__form-text-input:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  filter: contrast(15%);
  outline: none;
}

// Form Buttons --- Form Buttons --- Form Buttons ---


.user-input__buttons {
  width: 50px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;

}

.user-input__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
  height: 100%;
  width: 100%;


}

// restyle the button - remove default styles
.send-btn {
  border: none;
  height: 70%;
  width: 70%;
  &:active,
  &:focus {
    outline: none;
    border: none;
  }


}

// Whats this 👇🏻 dunno
// Whats this 👇🏻 dunno


// .file-container {
//   background-color: #f4f7f9;
//   border-top-left-radius: 10px;
//   padding: 5px 20px;
//   color: #565867;
// }

// .delete-file-message {
//   font-style: normal;
//   float: right;
//   cursor: pointer;
//   color: #c8cad0;
// }

// .delete-file-message:hover {
//   color: #5d5e6d;
// }

// .icon-file-message {
//   margin-right: 5px;
// }
