iframe#opendialog-chatwindow {
  position: fixed;
  bottom: 0;
  right: 10px;
  border: none;
  max-height: 750px;
  height: 85%;
  width: 463px;
  background-color: #fff;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}

iframe.open#opendialog-chatwindow {
  position: fixed;
  height: 100%;
  bottom: 0;
  right: 0;
}

#opendialog-bot .open-icon,
#opendialog-bot .closed-icon {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
}

#opendialog-bot .closed-icon {
  transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
  width: 60px;
  height: 60px;
}

#opendialog-bot .open-icon {
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
}

#opendialog-bot.opened .open-icon {
  transform: rotate(-90deg);
  opacity: 1;
}

#opendialog-bot.opened .closed-icon {
  transform: rotate(-90deg);
  opacity: 0;
}

@media (max-width: 480px) {
  iframe#opendialog-chatwindow {
    min-height: 0;
    max-height: 100%;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
  }

  #opendialog-bot {
    display: none;
  }

  body.chatbot-no-scroll {
    position: fixed !important;
    overflow-y: hidden !important;
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
  }
}

