.sc-message {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sc-message.fadeUp-enter-active {
  animation-duration: 0s;
}

.sc-chat-window.fullscreen .sc-message {
  width: 100%;
}

.sc-message--content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.sc-message--content.sent {
  justify-content: flex-end;
  align-items: flex-end;
}

.sc-message--name {
  font-size: x-small;
  margin-top: -5px;
  color: gray;
  text-align: left;
}

.sc-message--content.sent + .sc-message--time-read {
  text-align: right;
}

.sc-message--content.system {
  justify-content: center;
}

.sc-message--content.read {
  justify-content: center;
}

.sc-message--content.sent .sc-message--avatar {
  display: none;
}

.sc-message--avatar {
  background-image: url(https://d13yacurqjgara.cloudfront.net/assets/avatar-default-aa2eab7684294781f93bc99ad394a0eb3249c5768c21390163c9f55ea8ef83a4.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  align-self: center;
  margin-right: 15px;
}

.sc-message--meta {
  font-size: xx-small;
  margin-bottom: -10px;
  color: white;
  text-align: center;
}

@media (max-width: 450px) {
  .sc-message {
    width: 80%;
  }
}

// ######## FROM ORIG APP.JS --- ######## FROM ORIG APP.JS ---
// ######## FROM ORIG APP.JS --- ######## FROM ORIG APP.JS ---
// ######## FROM ORIG APP.JS --- ######## FROM ORIG APP.JS ---

// .sc-message {
//   max-width: 828px;
//   padding-bottom: 0;
//   width: calc(100% - 50px);
//   @media screen and (min-width: 768px) {
//     width: calc(100% - 200px);
//   }

//   .sc-message--content {
//     padding-bottom: 30px;

//     @media screen and (max-width: 768px) {
//       padding-bottom: 20px;
//     }
//   }

//   &.fadeUp-enter-active {
//     animation-duration: 0.5s;
//   }
// }

.mt-wrapper {
  margin: 0 auto;
  max-width: 700px;
  width: calc(100% - 50px);
  @media screen and (min-width: 768px) {
    width: 100%;
  }

  &.fadeUp-enter-active {
    animation-duration: 0.5s;
  }

  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
}

.mt-wrapper-author {
  z-index: 1;
}

// MT --- MT --- MT --- MT --- MT --- MT --- MT --- MT ---
// MT --- MT --- MT --- MT --- MT --- MT --- MT --- MT ---
// MT --- MT --- MT --- MT --- MT --- MT --- MT --- MT ---

.mt {
  padding: 25px;
  background-color: white;
  border-radius: 30px;
  box-shadow: none;

  max-width: 90%;
  margin-bottom: 30px;
  line-height: 1.6;
  font-size: 16px;
  position: relative;
}

.emit {
  align-self: flex-end;
  //   margin-right: 80px;

  border-bottom-right-radius: 0;
}

.reap {
  align-self: flex-start;
  //   margin-left: 80px;
  border-bottom-left-radius: 0;
}

.mt-meta {
  font-size: xx-small;
  margin-bottom: 0px;
  margin-top: 5px;
  opacity: 0.5;
  text-align: center;
}

//DO we NEED SOMETHING FOR  href
// a {
//     color: #2d2d2d !important;
//     text-decoration: underline;
//   }

// TEXT --- TEXT --- TEXT ---

// .sc-message--text {
//   transition: width 0.3s linear, height 0.3s linear 0.3s;
//   box-sizing: border-box;
//   opacity: 0;
//   overflow: hidden;

//   .sc-message--text--content {
//   }
// }

.mt-text {
  // ? ? ? ? ? ?

  transition: width 0.3s linear, height 0.3s linear;

//   animation: spread 0.3s ease-in-out;
//   transition: width 0.3s linear, height 0.3s linear, opacity 0.9s linear;
  // opacity: 0
//   animation-duration: 0.3s;
//   animation-delay: 0.6s;
// opacity: 0;
  // ? ? ? ? ? ?
}

.last-internal-message {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 0;
}


.fade-enter-active{
    opacity: 1;
}



  // Typing indicator --- Typing indicator --- Typing indicator ---
  // Typing indicator --- Typing indicator --- Typing indicator ---
  // Typing indicator --- Typing indicator --- Typing indicator ---




// Time meta data hidden

.sc-message--time-read {
  display: none;
}

