# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/php:7.3-fpm

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mysql:9.4

    working_directory: ~/repo

    steps:
      - checkout
      - run: sudo apt-get update
      - run: sudo apt install -y libsqlite3-dev
      - run: sudo composer self-update 1.10.16

      - run: sudo apt-get install nodejs -y

      - run: curl https://www.npmjs.com/install.sh | sudo sh

      - restore_cache:
          keys:
            - v1-node-dependencies-{{ checksum "package-lock.json" }}
            - v1-node-dependencies-
            -
      - run: npm install

      - save_cache:
          paths:
            - ./node_modules
          key: v1-node-dependencies-{{ checksum "package-lock.json" }}

      - run: npm run dev

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "composer.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: composer install -n --prefer-dist --no-scripts

      - save_cache:
          paths:
            - ./vendor
          key: v1-dependencies-{{ checksum "composer.lock" }}

      # Build

      # run tests!
      - run: ./vendor/bin/phpunit

      - run: ./vendor/bin/phpcs --standard=psr12 src/
