.sc-chat-window {
  .sc-message-list {
    .sc-message--content {
      .sc-message--form-response,
      .sc-message--text {
        @media screen and (max-width: 375px) {
          padding: 5px 15px;
          font-size: 16px !important;
        }
      }
    }

  }

  .sc-header {
    height: 120px;
    min-height: 120px;

    .sc-header--restart-button {
      cursor: pointer;
      align-self: center;
      img {
        @media screen and (max-width: 375px) {
          height: 19px;
          margin-right: 10px;
        }
      }
      span {
        display: inline-block;
        @media screen and (max-width: 375px) {
          display: none;
        }
      }
    }
  }

  .sc-external-buttons-row {
    padding: 30px 10px;
    .sc-external-buttons-element {
      font-size: 22px;
      padding: 5px 18px;
      border-radius: 20px;
      margin: 0 10px;
      &:hover {
        font-weight: bold;
      }

      @media screen and (max-width: 375px) {
        font-size: 16px;
        padding: 3px 15px;
        margin: 0 5px;
      }
    }
  }
}

.opendialog-chat-window {
  .loading {
    height: 100%;
  }
  .minimize-button,
  .minimized-header {
    display: none;
  }
}
