.sc-chat-window {
  .sc-message-list {
    .sc-message--content {
      &.sent {
        .sc-message--form-response,
        .sc-message--text,
        .sc-message--list,
        .sc-message--button,
        .sc-message--button-response,
        .sc-message--image,
        .sc-typing-indicator {
          box-shadow: 0 0 19px 0 rgba(106, 106, 106, 0.59) !important;
          border-radius: 36px !important;
          border-bottom-right-radius: 0 !important;

          @media screen and (max-width: 375px) {
            border-radius: 16px !important;
            border-bottom-right-radius: 0 !important;
          }
        }
      }

      &.received {
        .sc-message--form,
        .sc-message--rich,
        .sc-message--carousel-list,
        .sc-message--long-text,
        .sc-message--text,
        .sc-message--list,
        .sc-message--button,
        .sc-message--image,
        .sc-typing-indicator {
          box-shadow: 0 0 19px 0 #bdbdbd !important;
          border-radius: 36px !important;
          border-bottom-left-radius: 0 !important;
          margin-left: 80px !important;

          @media screen and (max-width: 375px) {
            border-radius: 16px !important;
            border-bottom-left-radius: 0 !important;
            margin-left: 37px !important;
          }
        }
      }

      .sc-message--form-response,
      .sc-message--text {
        padding: 19px 25px;
        font-size: 25px !important;

        @media screen and (max-width: 375px) {
          padding: 5px 15px;
          font-size: 16px !important;
        }
      }
    }

    .sc-message--author {
      background: none;
      margin-bottom: -85px;
      padding-top: 25px;

      @media screen and (max-width: 375px) {
        margin-bottom: -43px;
        padding-top: 12px;
      }

      img.avatar {
        width: 60px;
        height: 60px;

        @media screen and (max-width: 375px) {
          width: 31px;
          height: 31px;
        }
      }
    }
  }

  .sc-header {
    height: 93px;
    min-height: 93px;
    @media screen and (max-width: 768px) {
      height: 50px;
      min-height: 50px;
    }

    .sc-header--team-name {
      padding: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .sc-header--restart-button {
      cursor: pointer;
      align-self: center;
      img {
        height: auto;
        @media screen and (max-width: 375px) {
          height: 19px;
          margin-right: 10px;
        }
      }
      span {
        font-size: 22px;
        display: inline-block;
        @media screen and (max-width: 375px) {
          display: none;
        }
      }
    }
  }

  .sc-external-buttons-row {
    padding: 30px 10px;
    .sc-external-buttons-element {
      font-size: 22px;
      padding: 5px 18px;
      border-radius: 20px;
      margin: 0 10px;
      &:hover {
        font-weight: bold;
      }

      @media screen and (max-width: 375px) {
        font-size: 16px;
        padding: 3px 15px;
        margin: 0 5px;
      }
    }
  }
}
