// Bootstrap-vue
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

body {
  background: none;
}

.sc-chat-window {
  font-family: 'Proxima Nova', Georgia, sans-serif !important;
  border-radius: 0 !important;
  width: 100% !important;
  max-height: 100% !important;
  bottom: 0 !important;
  right: 0 !important;

  &.closed {
    .sc-header--minimize-button {
      background: url('/images/vendor/webchat/images/max.svg') center center no-repeat;
    }
  }
  &.opened {
    .sc-header--minimize-button {
      background: url('/images/vendor/webchat/images/min.svg') center center no-repeat;
    }
  }

  .sc-header {
    border-radius: 0;
    box-shadow: none;
    text-align: center;
    min-height: 48px;
    padding: 7px 10px;

    .sc-header--expand-button {
      display: block;
    }

    .sc-header--minimize-button {
      display: block;
      margin-right: 0;
      img {
        display: none;
      }
    }
  }

  .sc-message-list {
    box-shadow: #CFCFCF 0 1px 5px;
    z-index: 1;

    .sc-message {
      width: calc(100% - 22px);
    }
    @media screen and (min-width: 490px) {
      .sc-message {
        width: calc(100% - 44px);
      }
    }

    .sc-message--content {
      &.sent {
        &.internal {
          margin-top: -17px;
          .sc-message--text,
          .sc-message--list,
          .sc-message--button,
          .sc-message--image {
            border-top-right-radius: 0;
          }
        }
        .sc-message--text,
        .sc-message--list,
        .sc-message--button,
        .sc-message--button-response,
        .sc-message--image,
        .sc-typing-indicator {
          max-width: calc(100% - 40px);
          border-radius: 14px;
          border-bottom-right-radius: 0;
          box-shadow: #CFCFCF 1px 1px 1px;
          background-color: #505050 !important;
        }
      }
      &.received {
        &.internal {
          margin-top: -17px;
          .sc-message--form,
          .sc-message--rich,
          .sc-message--carousel-list,
          .sc-message--text,
          .sc-message--list,
          .sc-message--button,
          .sc-message--image {
            border-top-left-radius: 0;
          }
        }
        .sc-message--form,
        .sc-message--rich,
        .sc-message--carousel-list,
        .sc-message--long-text,
        .sc-message--text,
        .sc-message--list,
        .sc-message--button,
        .sc-message--image,
        .sc-typing-indicator {
          max-width: calc(100% - 40px);
          border-radius: 14px;
          border-bottom-left-radius: 0;
          box-shadow: #CFCFCF -1px 1px 1px;
          margin-right: 10px;
          background-color: #F2F2F2 !important;
        }
      }
    }

    .sc-message--time-read {
      color: #8E8E92;
      margin: 8px 0 4px 0;
    }

    .sc-message--author {
      font-family: proxima_nova_ltsemibold;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: -5px;
      span.avatar,
      img.avatar {
        width: 35px;
        height: 35px;
        margin-right: 10px;
        border-radius: 18px;
      }
      span.avatar {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        line-height: 35px;
        background: #2D2D2D;
        color: #FFFFFF;
      }
    }
    .sc-message--content.sent .sc-message--author {
      img.avatar,
      span.avatar {
        margin-right: 0;
        margin-left: 10px;
      }
    }

    .sc-message {
      .sc-message--button-response {
        .button {
          padding: 0;
          background: transparent;
          color: inherit;
          margin: 0;
        }
      }
    }

    .sc-message--list {
      max-width: calc(100% - 10px);
      .sc-message--list--element {
        padding: 12px 15px;
        width: calc(100% - 30px);
        .sc-message--list--subtitle {
          font-size: 14px;
        }
        .sc-message--list--button {
          a, button {
            font-size: 14px;
            padding: 7px 17px;
            border-radius: 12px;
          }
        }
      }
    }

    .sc-message--button {
      padding: 0 15px;
      .sc-message--button--text {
        margin-top: 7px;
      }
      .sc-message--button--buttons {
        padding-bottom: 10px;
        button {
          font-size: 14px;
          padding: 7px 17px;
          width: 100%;
          border-radius: 12px;
          margin-bottom: 5px;
        }
      }
    }

    .sc-message--rich {
      padding: 7px 15px;

      .sc-message--rich--title {
        font-weight: bold;
      }
    }

    .sc-message--text {
      font-size: 15px !important;
      padding: 7px 15px;
      color: #2D2D2D !important;
      border-radius: 14px;
      border-bottom-left-radius: 0;
      box-shadow: #CFCFCF -1px 1px 1px;
      background-color: #F2F2F2 !important;

      a {
        color: #2D2D2D !important;
        text-decoration: underline;
      }
    }

    .sc-message--button--text,
    .sc-message--button {
      font-size: 15px !important;
      color: #2D2D2D !important;

      a {
        color: #2D2D2D !important;
        text-decoration: underline;
      }
    }

    .sc-message--content.sent .sc-message--text {
      color: #FFFFFF !important;

      a {
        color: #FFFFFF !important;
      }
    }

    .sc-message--form {
      font-size: 15px;
      padding: 7px 15px;
      button {
        font-size: 14px;
        padding: 7px 17px;
        width: 100%;
        border-radius: 12px;
        margin-bottom: 5px;
      }
    }

    .sc-message--button-response {
      padding: 7px 15px;
      .button {
        display: inline-block;
        font-size: 14px;
        padding: 7px 17px;
        border-radius: 12px;
        text-align: center;
        margin: 0 -4px;
      }
    }

    .sc-message--carousel-list {
      width: calc(100% - 90px) !important;
      .sc-message--rich,
      .sc-message--button,
      .sc-message--image,
      .sc-message--text {
        background: none !important;
        max-width: 100% !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        margin: 0 !important;
      }
      .sc-message--rich {
        .sc-message--rich--buttons {
          text-align: center;
        }
      }
    }
  }

  .sc-user-input {
    border-radius: 0;
    .sc-user-input--text {
      width: calc(100% - 35px);
      font-size: 16px;
      transform-origin: left;
      transform: scale(0.94);
      padding: 16px 18px;
    }
    .sc-user-input--buttons {
      right: 10px;
      width: auto;
      .sc-user-input--send-icon-wrapper {
        background: url('/images/vendor/webchat/images/message.svg') center center no-repeat;
        height: 16px;
        cursor: pointer;
        svg {
          display: none;
        }
      }
    }
  }
}

.show-human-avatar .sc-message-list .sent,
.show-bot-avatar .sc-message-list .received {
  .sc-message--form,
  .sc-message--rich,
  .sc-message--carousel-list,
  .sc-message--button,
  .sc-message--button-response,
  .sc-message--button,
  .sc-message--image,
  .sc-message--text {
    margin-left: 45px !important;
    margin-right: 45px !important;
  }
  .sc-message--author {
    margin-bottom: -10px;
  }
}

.show-human-avatar .sc-message-list .sent + .sc-message--time-read,
.show-bot-avatar .sc-message-list .received + .sc-message--time-read {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.no-close {
  .sc-header {
    cursor: default;
    .sc-header--minimize-button {
      background: none;
    }
  }
}

.mobile {
  .sc-message {
    width: calc(100% - 22px);
  }
}

.minimize-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: url('/images/vendor/webchat/images/min.svg') center center no-repeat;
  width: 40px;
  height: 40px;
}
