

//   👇🏻 👇🏻 👇🏻 from component FOR COMMENTS SECTION 👇🏻 👇🏻 👇🏻


.nav {
  background-color: var(--header-text-color);
  border-bottom: 1px solid var(--header-background-color);
  color: var(--header-text-color);
}
.nav .nav-item a.nav-link {
  color: var(--header-background-color);
  font-size: 17px;
}
.nav .nav-item.active {
  background-color: var(--header-background-color);
}
.nav .nav-item.active a.nav-link {
  color: var(--header-text-color);
  font-weight: 600;
}
.comment-section-selector-wrapper {
  border-bottom: 1px solid var(--header-background-color);
}
.comment-section-selector-wrapper .comment-section-selector {
  border: none;
}

.comments-enabled .nav .nav-item {
  width: 40%;
}
.comments-enabled .nav .nav-item.active {
  width: 60%;
}

.minimized-header {
  cursor: pointer;
  padding: 0.75rem 1rem;
  text-align: center;
  background-color: var(--header-background-color);
  color: var(--header-text-color);
}
