.mt-message-with-button {
  transition: width 0.3s linear, height 0.3s linear 0.3s;
  opacity: 0;
}

.mt-message-with-button__text {
  animation-duration: 0.3s;
  animation-delay: 0.6s;

  margin-bottom: 30px;
}

.mt-message-with-button__buttons-wrapper {
  text-align: center;
  animation-duration: 1s;
}

.mt-message-with-button__buttons-wrapper__button {
  margin: 3px 10px;
  padding: 20px 30px;
  border: 1px solid;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  position: relative;
  transition: 0.4s;

  &:active {
    border: 2px solid green;

  }
}
