// .mt-typing-indicator {
//   text-align: center;
//   animation-duration: 0s;
//   //   padding: 0;
//   //   margin: 0;
//   width: 100px;
//   height: 65px;
//   line-height: 30px;
// }

.mt-typing-indicator {
  // text-align: center;
  // animation-duration: 0s;
  // //   padding: 0;
  // //   margin: 0;
  // width: 100px;
  // height: 65px;
  // line-height: 30px;
  animation-duration: 0s;
  padding: 15px 25px;
}

.mt-typing-indicator span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 3px;
  animation: bob 1.6s infinite;
  line-height: 30px;
}

/* SAFARI GLITCH */
.mt-typing-indicator span:nth-child(1) {
  animation-delay: -0.8s;
}
.mt-typing-indicator span:nth-child(2) {
  animation-delay: -0.65s;
}
.mt-typing-indicator span:nth-child(3) {
  animation-delay: -0.5s;
}

.all-blobs {

  display: flex;
  width: 50px;
  // justify-content: center;
  align-items: flex-start;
  line-height: 30px;
  height: 40px;
}

.blob-wrapper {
  height: 40px;
  width: 10px;
  margin: 0 5px;


  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &:nth-child(1) {
    .blob {
      animation-delay: 0s;
    }
  }

  &:nth-child(2) {
    .blob {
      animation-delay: 0.5s;
    }
  }

  &:nth-child(3) {
    .blob {
      animation-delay: 0.75s;
    }
  }
}

.blob {
  max-height: 40px;
  height: 0%;
  background-color: black;
  animation: myBob 1.6s infinite;
  border-radius: 5px;
}

@keyframes myBob {
  50% {
    height: 100%;
  }
}

@keyframes myBob2 {
  10% {
    height: 33%;
  }
  20% {
    height: 66%;
  }
  30% {
    height: 100%;
  }
  40% {
    height:  66%;
  }
  50% {
    height:  33%;
  }
  60% {
    height: 5%;
  }
}

// @keyframes bob {
//   10% {
//     transform: translateY(-10px);
//   }
//   50% {
//     transform: translateY(0);
//   }
// }

@keyframes bob {
  10% {
    height: 10px;
  }
  20% {
    height: 20px;
  }
  30% {
    height: 30px;
  }
  40% {
    height: 20px;
  }
  50% {
    height: 10px;
  }
  60% {
    height: 6px;
  }
}

// .sc-typing-indicator {
//     animation-duration: 0.3s;
//     padding: 16px 30px 20px 30px;
//     font-size: 16px !important;
//     line-height: 30px;

//     span {
//       width: 6px;
//       height: 6px;
//       margin-right: 4;
//       border-radius: 3px;
//       vertical-align: bottom;
//       animation-delay: 0.1s !important;
//       animation: bob 1s infinite;

//       &:first-child {
//         animation-delay: 0s !important;
//       }

//       &:last-child {
//         animation-delay: 0.2s !important;
//         margin-right: 0;
//       }
//     }

//     &.v-leave-to {
//       position: absolute;
//       background: none !important;
//     }
//   }
