.mt-message-with-button {
  transition: width 0.3s linear, height 0.3s linear 0.3s;
  &.animate {
    opacity: 0;
  }
}

.mt-message-with-button__text {
  animation-duration: 0.3s;
  animation-delay: 0.6s;
}

.mt-message-with-button__buttons-wrapper {
  animation-duration: 1s;
  margin-top: -18px;
  margin-bottom: 20px;
}

.mt-message-with-button__buttons-wrapper__button {
  margin: 3px 5px 3px 0;
  padding: 14px 20px;
  border: 1px solid;
  border-radius: 30px;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  border: none;
  outline: none;
  position: relative;
  transition: 0.4s;
}
