.mt-carousel {
  padding: 0 !important;
  columns: 2;
  column-gap: 5px;
  max-width: 100% !important;
  width: 329px;
  @media screen and (max-width: 375px), only screen and (device-width: 414px) and (device-height: 896px) {
    width: 265px;
  }

  .mt-message-rich {
    margin-left: 0 !important;
    border-radius: 6px !important;
    padding: 10px !important;
    margin: 0 0 5px 0;
    width: 162px;
    max-width: 162px;
    transform: translateZ(0);
    @media screen and (max-width: 375px), only screen and (device-width: 414px) and (device-height: 896px) {
      padding: 5px !important;
      width: 162px;
      max-width: 162px;
    }

    .sc-message--rich--title {
      font-size: 13px;
    }
    .sc-message--rich--subtitle {
      display: none;
    }
    .sc-message--rich--text {
      font-size: 12px;
      &:before {
        display: none;
      }
    }
    .sc-message--rich--image {
      margin: -10px -10px 10px -10px;
      height: 91px;
      @media screen and (max-width: 375px), only screen and (device-width: 414px) and (device-height: 896px) {
        margin: -5px -5px 5px -5px;
        height: 73px;
      }
    }
  }
}
