.od-message-list.sc-message--list {
  border-radius: 6px;
  box-shadow: 0 13px 12px 2px rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
  padding: 0;

  > div {
    border-bottom: 1px solid #f1f1f3;
    &:last-child  {
      border: none;
    }
  }

  .sc-message--list--title {
    border-bottom: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding: 10px;
  }

  .sc-message--rich {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0;
    max-width: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    background: none !important;
    padding: 10px 80px 10px 10px;
    min-height: 73px;

    .sc-message--rich--title {
      font-size: 12px;
    }
    .sc-message--rich--subtitle {
      display: none;
    }
    .sc-message--rich--text {
      font-size: 12px;
      &:before {
        display: none;
      }
    }
    .sc-message--rich--image {
      position: absolute;
      top: 12px;
      right: 10px;
      margin: 0;
      height: 53px;
      width: 53px;
    }
    .sc-message--rich--buttons {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
