.sc-message--rich {
  border-radius: 10px !important;
  box-shadow: 0 13px 12px 2px rgba(0, 0, 0, 0.14) !important;
  padding: 0 30px 20px 30px;
  width: 251px;
  background: #ffffff !important;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .sc-message--rich--title {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #000000;
  }

  .sc-message--rich--subtitle {
    font-size: 12px;
    line-height: 16px;
    color: #575759;
    margin-top: 5px;
  }

  .sc-message--rich--text {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #000000;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-font-smoothing: subpixel-antialiased;

    &:before {
      content: "";
      display: block;
      width: 32px;
      height: 3px;
      background: #a3cae9;
      margin: 5px 0 9px 0;
    }
  }

  .sc-message--rich--image {
    order: -1;
    height: 141px;
    margin: 0 -10px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .sc-message--rich--buttons {
    text-align: center;
    margin: 10px -10px -10px -10px;

    button {
      background: #da291c !important;
      color: #fff !important;
      font-size: 12px;
      line-height: 16px;
      padding: 7px 10px;
      width: 100%;
      border-radius: 0;

      &:hover {
        background: #da291c !important;
        text-decoration: none;
      }
    }
  }
}
