.mt-text {
  transition: width 0.3s linear, height 0.3s linear;
}

.first-message,
.middle-message,
.last-message {
  margin-bottom: 15px;
}

.first-message {
  border-bottom-right-radius: 0px;
}

.middle-message {
  border-radius: 0;
}

.last-message {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0px;
}
