.mt-typing-indicator {
  animation-duration: 0s;
  padding: 25px 20px 10px;

  @media (min-width: $media-med) {
    padding: 15px 30px;
  }
}

.all-blobs {
  display: flex;
  align-items: flex-start;

  height: 20px;
  @media (min-width: $media-med) {
    height: 30px;
  }
}

.blob {
  height: 20px;
  @media (min-width: $media-med) {
    height: 30px;
  }
  width: 6px;
  margin: 0 5px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &:nth-child(1) {
    .blob-content {
      animation-delay: 0s;
    }
  }

  &:nth-child(2) {
    .blob-content {
      animation-delay: 0.2s;
    }
  }

  &:nth-child(3) {
    .blob-content {
      animation-delay: 0.4s;
    }
  }
}

// /* SAFARI GLITCH */
// .all-blobs div:nth-child(1) {
//   animation-delay: -0s;
// }
// .all-blobs div:nth-child(2) {
//   animation-delay: -0.2s;
// }
// .all-blobs div:nth-child(3) {
//   animation-delay: -0.4s;
// }

.blob-content {
  max-height: 40px;
  height: 30%;
  background-color: black;
  animation: andrewsBlobBob 1.2s infinite;
  border-radius: 5px;
}

@keyframes andrewsBlobBob {
  10% {
    height: 33%;
  }
  20% {
    height: 66%;
  }
  30% {
    height: 100%;
  }
  40% {
    height: 66%;
  }
  50% {
    height: 33%;
  }
  60% {
    height: 5%;
  }
}
